{% extends 'kit/base.html' %}

{% block content %}

        <div class="display-about card">
            <div class="card-body">
                <h2 id="about-header">About</h2>
                <p class="about-text">Address: Agape, Loboc, Bohol PH</p>
                <p class="about-text">BirthDate: March 21, 1997</p>        
                <p class="about-text">Age: 23 yrs. old</p>
                <p class="about-text">Education: BSComputer Engineering at</p>
                <p class="about-text">      Bohol Island State University-MainCampus</p>
                <p class="about-text">Software Developer at AESOFT-TECHNOLOGY</p>
            </div>
        </div>

        
 

{% endblock %}